accelerate==1.12.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyascii==0.3.2
anyio==4.12.1
asgiref==3.8.1
attrs==25.4.0
beautifulsoup4==4.11.2
blis==1.3.3
catalogue==2.0.10
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.0
click==8.3.1
cloudpathlib==0.23.0
colorama==0.4.6
confection==0.1.5
crispy-bootstrap5==2024.10
cymem==2.0.13
datasets==4.5.0
defusedxml==0.7.1
dill==0.4.0
Django==5.0.11
django-allauth==65.3.1
django-crispy-forms==2.3
django-filter==23.5
django-modelcluster==6.3
django-permissionedforms==0.1
django-simple-menu==2.1.3
django-taggit==4.0.0
django-treebeard==4.7.1
djangorestframework==3.15.2
draftjs-exporter==2.1.7
emoji==2.15.0
et_xmlfile==2.0.0
Faker==30.6.0
filelock==3.24.3
filetype==1.2.0
frozenlist==1.8.0
fsspec==2025.10.0
h11==0.16.0
hf-xet==1.3.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.4.1
idna==3.10
Jinja2==3.1.6
l18n==2021.3
laces==0.1.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
mpmath==1.3.0
multidict==6.7.1
multiprocess==0.70.18
murmurhash==1.0.15
networkx==3.6.1
numpy==2.3.4
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.3
pillow==10.4.0
pillow_heif==0.21.0
preshed==3.0.12
propcache==0.4.1
psutil==7.2.2
psycopg2-binary==2.9.10
pyarrow==23.0.1
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pysentimiento==0.7.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2024.2
PyYAML==6.0.3
regex==2026.2.19
requests==2.32.3
rich==14.3.3
safetensors==0.7.0
selenium==4.37.0
setuptools==75.5.0
shellingham==1.5.4
six==1.16.0
smart_open==7.5.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.5.1
srsly==2.5.2
sympy==1.14.0
telepath==0.3.1
thinc==8.3.10
tokenizers==0.22.2
torch==2.10.0
tqdm==4.67.3
transformers==5.2.0
trio==0.31.0
trio-websocket==0.12.2
typer==0.24.1
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2024.2
Unidecode==1.3.8
urllib3==2.5.0
wagtail==5.2.7
wagtail-advanced-form-builder==1.0.2
wagtail-generic-chooser==0.6.1
wagtail-modeladmin==2.1.0
wagtail-themes==0.5.0
wagtailextraicons==3.0.0
wagtailsettings==0.4.1
wagtailstreamforms==4.1.0
wasabi==1.1.3
weasel==0.4.3
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.9.0
Willow==1.6.3
wrapt==2.1.1
wsproto==1.2.0
xxhash==3.6.0
yarl==1.22.0
