{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title %}Iniciar
Sesión - {{ block.super }} {%endblock %} {% block content %}
<div class="form-container">
  <div class="card shadow">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0 text-center">
        <i class="fa fa-briefcase me-2"></i>
        Creación de proyectos
      </h4>
    </div>
    <div class="card-body">
      {% comment %}
      <div class="row">
        {% if messages %} {% for message in messages %}
        <div
          class="alert {{ message.tags }} alert-dismissible fade show"
          role="alert"
          style="background-color: #041dec !important ; color: white"
        >
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %} {% endif %}
      </div>
      {% endcomment %}

      <form
        method="post"
        action="{% url 'proyectos:editar_proyecto' form.instance.id %}"
      >
        {% csrf_token %} {{ form|crispy }}
        <!-- Botón de envío -->
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-custom btn-lg text-white">
            Editar proyecto
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
